
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  flex-direction: column;
  font-family: sans-serif;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
}

.dropzone.dragging {
  background-color: #eef6ff;
  border-color: #3399ff;
}

/*
.upload-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

*/
.upload-box ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
/*
.upload-box li {
  background: #fff;
  margin-bottom: 6px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
}
*/
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
/*
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
*/
/*
.btn.cancel {

  background-color: #f44336;
  color: white;
}
*/
/*
.btn.upload {
  background-color: #4caf50;
  color: white;
}
*/