.header {
    background-color: rgb(240, 240, 239);
}

.title {
    margin:0;
    padding:20px;
    text-align: center;
}

.header-list{
    padding:20px;
    display: flex;
    justify-content: space-around;
    .link {
    text-decoration: none;
    } 
}



